---
import { Icon } from "astro-icon";

interface Props {
  text: string;
  logo: string;
}

const { text, logo } = Astro.props;
---

<div class="group">
  <li class="flex items-center gap-4 group-hover:animate-bounce py-2 rounded-2xl m-1 justify-center">
    <span
      class="w-12 h-12 flex items-center justify-center border-t dark:border-zinc-700 border-transparent shadow dark:shadow-none bg-white dark:bg-zinc-800 rounded-full"
      ><Icon name={logo} class="w-6 group-hover:animate-spin" />
    </span>
    <span class="dark:text-zinc-300 text-zinc-600">{text}</span>  
  </li> 
</div>

<style is:global>
  [astro-icon="simple-icons:astro"] {
    @apply dark:text-white;
  }
  [astro-icon="simple-icons:express"] {
    @apply dark:text-white;
  }
  
</style>
